@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
}
a{
    text-decoration: none;
}
@media (max-width:768px) {
    .menu{
        display: none;
    }
}